<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

   <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link data-require="font-awesome@*" data-semver="4.2.0" rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
    <script data-require="jquery@*" data-semver="2.1.1"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="handlebars.js@1.3.0" data-semver="1.3.0"
        src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
    <link rel='stylesheet' href='/stylesheets/landing.css' />
    <script src="https://kit.fontawesome.com/d24161057c.js" crossorigin="anonymous"></script>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Top Navigation Bar -->
    <nav class="navbar navbar-default text-uppercase navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menuCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Travel Easy</a>
            </div>
            <div class="collapse navbar-collapse" id="menuCollapse">
                <ul class="nav navbar-nav navbar-right" id="menuNavigation">
                    <li>
                        <a href="users/login" class="navlink" data-type="index">Log in</a>
                    </li>
                    <li>
                        <a href="users/signup" class="navlink" data-type="index">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

<!-- Text in Box -->
<div class="container">
    <div id="home">
        <div class="home-text text-center">
            <h1>Travel Easy</h1>
            <br>
            <h3>Adventure awaits.</h3>
            <br>
        </div>
    </div>
    <div class="still">
    </div>
</div>

<!-- Website Information & Icons --->
<div class="row">
    <aside class="col-md-6 center text-center">
        <br>
        <h2> Welcome. </h2>
        <br>
        <h4>Join us to organize your vacations in an easy and exciting way!</h4>
        <br><br>
        <h4><a href="/users/signup" style="font-size: 27px; color: #E3C6AD;">Ready to plan?</a></h4>
    </aside>
</div>
    
<div class="row">
    <!-- countdown timer -->
    <aside class="col-md-4">
        <div class="menu">
            <i class="fas fa-clock fa-5x giconcolor"></i>
            <br>
            <br>
            <h4>Countdown Timer</h4>
        </div>
        <div class="hover">Who dosn't count down the days to their trip... Want the exact time down to the second? We got you covered with our countdown timer.</div>
    </aside>

    <!-- packing list -->
    <aside class="col-md-4">
        <div class="menu">
            <i class="fas fa-suitcase fa-5x yiconcolor "></i>
            <br>
            <br>
            <h4>Packing List</h4>
        </div>
        <div class="hover">Never forget anything at home by keeping track of what you need to bring with our packing list!</div>
    </aside>

    <!-- itinerary -->
    <aside class="col-md-4">
        <div class="menu">
            <i class="fas fa-map-marked-alt fa-5x piconcolor "></i>
            <br>
            <br>
            <h4>Itinerary</h4>
        </div>
        <div class="hover">Don't want to waste any time? Take advantage of our itinerary feature to plan activities during your vacation!</div>
    </aside>
</div>


<!-- Foooter -->

</body>