<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link data-require="font-awesome@*" data-semver="4.2.0" rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
    <script data-require="jquery@*" data-semver="2.1.1"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="handlebars.js@1.3.0" data-semver="1.3.0"
        src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
    <link rel='stylesheet' href='/stylesheets/landing.css' />
    <script src="https://kit.fontawesome.com/d24161057c.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-default text-uppercase navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#menuCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">studyflo</a>
            </div>
            <div class="collapse navbar-collapse" id="menuCollapse">
                <ul class="nav navbar-nav navbar-right" id="menuNavigation">
                    <li>
                        <a href="#" class="navlink" data-type="index">About</a>
                    </li>
                    <li>
                        <a href="#" class="navlink" data-type="index">Services</a>
                    </li>
                    <li>
                        <a href="users/login" class="navlink" data-type="index">Log in</a>
                    </li>
                    <li>
                        <a href="users/signup" class="navlink" data-type="index">Sign up</a>
                    </li>

                </ul>

            </div>

        </div>

    </nav>
    <!-- /NAVBAR -->
</body>

<div class="container">
    <div id="home">
        <div class="home-text text-center">
            <h1>studyflo</h1>
            <br>
            <h3>go with the flo</h3>
            <br>
        </div>
    </div>
    <div class="still">
    </div>
</div>

<div class="row">
    <aside class="col-md-6 center text-center">
        <br>
        <h2> What is studyflo? </h2>
        <br>
        <h4>studyflo is a community of students who enjoy organizational mindfulness and productivity.</h4>
        <br><br>
        <h2> So... </h2>
        <br><br>
        <h4><a href="/users/signup" style="font-size: 27px; color: white;">Are you in?</a></h4>
    </aside>
</div>

<div class="row">
    <aside class="col-md-3">
        <div class="menu">
            <i class="fas fa-spa fa-5x giconcolor"></i>
            <br>
            <br>
            <h4>Breathe</h4>
        </div>

        <div class="hover">Need a quick breather from working? Use the Breathe page to take a moment and get away from the stress.</div>

    </aside>

    <aside class="col-md-3">
        <div class="menu">
            <i class="fas fa-tasks fa-5x yiconcolor "></i>
            <br>
            <br>
            <h4>Organize</h4>
        </div>
        <div class="hover">The To Do page will help you to never miss a due date! Keep track of assignments and their due dates here and check them off when you’re done!</div>
    </aside>

    <aside class="col-md-3">
        <div class="menu">
            <i class="fas fa-pencil-alt fa-5x piconcolor "></i>
            <br>
            <br>
            <h4>Journal</h4>
        </div>
        <div class="hover">Need to take your mind off of things? Use the Journal page to get your thoughts out. With our endless random journal prompts you will always have something mindful to write about!</div>
    </aside>

    <aside class="col-md-3">
        <div class="menu">
            <i class="fas fa-users fa-5x oiconcolor "></i>
            <br>
            <br>
            <h4>Connect</h4>
        </div>
        <div class="hover">(Coming soon!) Connect with other students in our Studyflo community! Encourage others and get advice from people who are in the same boat as you.</div>
    </aside>
</div>

<div class="still2">
</div>

<div class="container">
    <h1> meet the creators </h1>
    <aside class="col text-center">
        <img src="images/ari_avi.png" alt="Ari" width="20%" height="20%">
        <div class="hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ac quam lacus. Ut tristique
            iaculis diam ac consequat. Morbi eget varius justo. </div>
        <img src="images/sam_avi.png" alt="Sam" width="20%" height="20%">
    </aside>
</div>

<div class="still3">
</div>

<!-- Foooter -->
<section class="container-fluid sec-footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">About Us</div>
                        <div class="card-text">
                            Studyflo is home to a community of students who value organization and mindfulness.
                            This website was created for students and by students.
                            The makers, Arianna Oneil and Samantha Silvia, are majoring in computer science at
                            Bridgewater State University.
                        </div>
                    </div>
                </div>
                <!--.card-->
            </div>
            <!--.col-->
            <div class="col">
                <div class="card desc-box">
                    <div class="card-body">
                        <div class="card-title">Contact Us</div>
                        <div class="card-text">
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-phone ml-3"></i>
                                    <span>000-000-0000</span>
                                </div>
                                <!--.col-->
                            </div>
                            <!--.row-->
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-map-marker ml-3"></i>
                                    <span>Bridgewater, MA</span>
                                </div>
                                <!--.col-->
                            </div>
                            <!--.row-->
                            <div class="row">
                                <div class="col">
                                    <i class="fas fa-envelope-open ml-3"></i>
                                    <span>studyflo@gmail.com</span>

                                </div>
                                <!--.col-->
                            </div>
                            <!--.row-->
                        </div>
                        <!--.card-text-->
                    </div>
                </div>
                <!--.card-->
            </div>
            <!--.col-->
            <div class="col text-center">
                <img src="images/sam_avi.png" alt="Ari" width="10%" height="10%">
                <img src="images/ari_avi.png" alt="Ari" width="10%" height="10%" style="position: unset;">
                <figcaption>Arianna O'Neil & Samantha Silvia</figcaption>
                <br class="clearfix">
                <!--sam--><a href="https://github.com/samiam8116" class="snip1472"><i class="fab fa-github"></i></a>
                <!--sam--><a href="https://www.linkedin.com/in/samantha-silvia-718886181/" class="snip1472"><i
                        class="fab fa-linkedin-in"></i></a>
                <!--ari--><a href="https://github.com/a1oneil" class="snip1472"><i class="fab fa-github"></i></a>
                <!--ari--><a href="https://www.linkedin.com/in/oneilarianna/" class="snip1472"><i
                        class="fab fa-linkedin-in"></i></a>
            </div>
            <!--.col-->
        </div>
        <!--.row-->
    </div>
</section>
<!-- end footer stuff !-->
</body>