<head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap" rel="stylesheet">
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link data-require="font-awesome@*" data-semver="4.2.0" rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
    <script data-require="jquery@*" data-semver="2.1.1"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="handlebars.js@1.3.0" data-semver="1.3.0"
        src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
    <script src="https://kit.fontawesome.com/d24161057c.js" crossorigin="anonymous"></script>


    <style>
        body {
            background-color: #738290;
        }

        /*      SIDEBAR ---------------------------------
        */

        /* The sidebar menu */
        .sidenav {
            height: 100%;
            /* Full-height: remove this if you want "auto" height */
            width: 90px;
            /* Set the width of the sidebar */
            position: fixed;
            /* Fixed Sidebar (stay in place on scroll) */
            z-index: 1;
            /* Stay on top */
            top: 0;
            /* Stay at the top */
            left: 0;
            background-color: #f0ead6;
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 20px;

        }

            /* Colors of the Icons */
            .fa-user {
                color: #f0a8b0;
            }
            .fa-home {
                color: #e6a6c4;
            }
            .fa-tasks {
                color: #C6BCD0;
            }
            .fa-spa {
                color: #9eb0c9;
            }
            .fa-pencil-alt {
                color: #8cccd9;
            }
            .fa-water {
                color: #a3bdad;
            }

        /* The navigation menu links */
        .sidenav a {
            text-align: center;
            padding: 6px 8px 6px 16px;
            color: grey;
            display: block;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: lightgray;
        }

        /* Style page content */
        .main {
            margin-left: 160px;
            /* Same as the width of the sidebar */
            padding: 0px 10px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }


        /*   OTHER ---------------------------------
        */

        .journal {
            margin-left: 160px;
            /* Same as the width of the sidebar */
        }

        .titles {
            margin-left: 160px;
            /* Same as the width of the sidebar */
        }

        .date {
            font-size: 30pt;
            font-family: 'Cedarville Cursive', cursive;
            font-weight: bold;
            color: #FFBE9F;
        }

        .journalPrompt {
            font-size: 15pt;
            font-family: "Montserrat", -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
            font-weight: lighter;
            text-transform: uppercase;
            color: black;
        }
    </style>
</head>

<body>
     <!-- /Side bar -->
    <div class="sidenav">
        <a href="/users/profile"><i class="fas fa-user fa-3x"></i></a>
        <a href="/dash"><i class="fas fa-home fa-3x"></i></a>
        <a href="/todo"><i class="fas fa-tasks fa-3x"></i></a>
        <a href="/timer"><i class="fas fa-spa fa-3x giconcolor"></i></a>
        <a href="/journal"><i class="fas fa-pencil-alt fa-3x piconcolor "></i></a>
        <a href="/home"><i class="fas fa-water fa-3x"></i></a>
    </div>
    <!-- Titles -->
    <div class="titles">
        <div class="date">
            <h1>Journal</h1>
            <div class="journalPrompt">
                Journal Promt: <p id="journal"></p>
            </div>
        </div>
    </div>
    <!-- To Do -->
    <div class="journal">
        <div id="myDIV" class="header">   
            <form method="post" action="addJournal">

            <div style = "float:left; width: 200px;"> </div>
            <input type="text" name="date" placeholder="Date (year-month-day)"><br>

            <div style = "float:left; width: 200px;"> </div>
            <input type="text" id="myInput" placeholder="..."><br>

            <br><div style = "float:left;">&nbsp;</div>
            <input type="submit" value="Add">
            </form>
        </div>
    </div>

    <ul id="myUL">
    </ul>


    {{#if success}}
    <h3 style="color:red;">Added!</h3>
    {{/if}}


    {{#if error}}
    <p style="color:red;">{{error}}</p>
    {{/if}}
    <!--    JAVASCRIPT  -->
    <script>
        router.get('/addJournal',function(req, res, next) {
        res.render('addJournal', {user: req.user, error: req.flash('error')});

});

    router.post('/addJournal',function(req, res, next) {
    client.query('SELECT * FROM users WHERE username = $1', [req.body.username], function(err, result) {
        if (err) {
        console.log("unable to query SELECT");
        next(err);
        }
        if (result.rows.length > 0) {
            console.log("user exist");
            client.query('INSERT INTO journal (date, journal) VALUES($1, $2)', [req.body.date,req.body.journal], function(err, result) {
            if (err) {
                console.log("unable to query INSERT");
                next(err);
            }
            console.log("To Do creation is successful");
            res.render('addJournal', {user: req.user , success: "true" });
            });
        }
        else if (result.rows.length <= 0){
        console.log("User does not exist");
        res.render('addJournal', {error: "Username does not exist"});
        }
    });
    });

</script>

</body>
<script src="/javascripts/journals.js"></script>
<script src="/javascripts/quotes.js"></script>