<head>
    <link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.css" />
    <link data-require="font-awesome@*" data-semver="4.2.0" rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
    <script data-require="jquery@*" data-semver="2.1.1"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.2.0"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
    <script data-require="handlebars.js@1.3.0" data-semver="1.3.0"
        src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.js"></script>
    <link rel='stylesheet' href='/stylesheets/timer.css' />
    <script src="https://kit.fontawesome.com/d24161057c.js" crossorigin="anonymous"></script>
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap" rel="stylesheet">

</head>

<body>
     <!-- /Side bar -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
    <a href="/users/profile"><span><i class="fas fa-home"></i></a>
    <a href="/timer"><i class="fas fa-clock giconcolor"></i></a>
    <a href="/todo"><i class="fas fa-suitcase"></i></a>
    <a href="/journal"><i class="fas fa-map-marked-alt piconcolor"></i></a>
    <a href="/home"><i class="fas fa-sign-out-alt"></i></a>
    </div>

    <!-- Timer -->
    <div class="bgimg">
         <img src="https://source.unsplash.com/random/1500x900/?travel" alt="Welcome" style="width:100%; position: center;">
    <div class="middle">
        <h1>Vacation starting in ...</h1>
        <hr>
        <p id="demo" style="font-size:30px"></p>
    </div>
    </div>

    {{#if errorMessage}}
    <p>Wrong format, try again!</p>
    {{/if}}     
  


</body>
<script>
/* Side bar JavaScript */
   var mini = true;

    function toggleSidebar() {
    if (mini) {
        console.log("opening sidebar");
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        this.mini = false;
    } else {
        console.log("closing sidebar");
        document.getElementById("mySidebar").style.width = "85px";
        document.getElementById("main").style.marginLeft = "85px";
        this.mini = true;
    }
    }
    /* Timer JavaScript */
    // Set the date we're counting down to
    var countDownDate = new Date("Nov 20, 2020 10:20:00").getTime();

    // Update the count down every 1 second
    var countdownfunction = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    
    // Find the distance between now an the count down date
    var distance = countDownDate - now;
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(countdownfunction);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
    }, 1000);
</script>
<script src="/javascripts/timer.js"></script>