/*SIDEBAR ---------------------------------*/

/* The sidebar menu */
.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 90px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #f0ead6;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

/* Colors of the Icons */
.fa-user {
    color: #f0a8b0;
}
.fa-home {
    color: #e6a6c4;
}
.fa-tasks {
    color: #C6BCD0;
}
.fa-spa {
    color: #9eb0c9;
}
.fa-pencil-alt {
    color: #8cccd9;
}
.fa-water {
    color: #a3bdad;
}

/* The navigation menu links */

.sidenav a {
    text-align: center;
    padding: 6px 8px 6px 16px;
    color: grey;
    display: block;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: lightgray;
}


/*OTHER ---------------------------------*/
body{
    background-color: #738290 !important;
    text-align: center;
   
}

.welcome {
    position: relative;
    text-align: center;
    color: white;
    font-family: "Montserrat", -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.welcomeMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Montserrat", -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: lightgrey;
    /*  BOX STUFF  */
    width: 500px;
    padding: 50px;
    margin: 20px;
    background: rgba(204, 204, 204, 70%);
}

.welcomeMessage h2 {
    font-weight: bold;
}