body {
    background-color: #478966;
    text-align: center;
  }
  
/* SIDEBAR ---------------------------------*/
/* The sidebar menu */
body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 85px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
}

main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.material-icons,
.icon-text {
  vertical-align: middle;
}

.material-icons {
  padding-bottom: 3px;
  margin-right: 30px;
}

#main {
  padding: 16px;
  margin-left: 85px;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}


/* The navigation menu links */
.sidebar a {
  text-align: center;
  padding: 6px 8px 6px 16px;
  display: block;
}

/* Colors of the Icons */
.fa-home {
  color: #135e46;
}

.fa-clock {
  color: #66a182;
}
.fa-suitcase {
  color: #caffb9;
}
.fa-map-marked-alt {
  color: #aef78e;
}
.fa-sign-out-alt {
  color: #c0d461;
}
  
  
  /* TIMER ---------------------------------*/
   body, html {
    height: 100%;
    margin: 0;
  }
  
  .bgimg {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
  }

  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    background-color: lightgrey;
    /*  BOX STUFF  */
    width: 300px;
    padding: 50px;
    margin: 20px;
    background: rgba(204, 204, 204, 70%);
}
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }
  