body{
    background-color: #818a92;
    font-family: "Montserrat", -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
}

.words{
    margin-top: 50;
    color:black;
}



.navbar {
    margin-bottom: 0;
    background-color: #738290!important;
    z-index: 999;
    border: 0;
    font-size: 20px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 0px;
    border-radius: 0;
    min-height:40px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.navbar-brand{
    font-family: 'Cedarville Cursive', cursive;
    text-transform: lowercase !important;
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 25px;
    line-height: inherit;
    white-space: nowrap;
}

.navbar li a, .navbar .navbar-brand {
    color: #FFF !important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.home-text{
    position: absolute;
    vertical-align: middle;
    top: 42%;
    width: 100%;
    color: black;
}

.home-text h1{
    font-family: 'Cedarville Cursive', cursive;
    text-transform: lowercase;
    font-size:62px;
    font-weight:700;
}


  
h2{
    font-family: 'Cedarville Cursive', cursive;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
  

  

  
.col-md-3 {padding: 20px; min-height: 175px;}
  
.center {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.row {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}


h5{color:#ee8669; font-weight: bold;}
/* for bottom icons */
.sideborder { border-left: thin grey solid;}
.giconcolor {color: #efe5dc;}
.yiconcolor {color: #efe5dc;}
.piconcolor {color: #efe5dc;}
.oiconcolor {color: #efe5dc;}
.bcolor{background: #62d4cd; width: 200px;}
.pcolor{background: #9b8dc8; width: 200px;}

@media screen and (max-width: 480px) {
  h1{ font-size:60px; }
  .sideborder {
     border-top: thin grey solid;
     border-left: 0px;
  }
}


